<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div style="width: 100%; display: flex; flex-direction: column; gap: 32px; align-items: center;"
     layout:fragment="content">
    <h1 style="align-self: flex-start;">Tilføj medarbejder</h1>

    <form th:action="@{gemmedarbejder}" th:method="POST" th:object="${emp}"
          style="background-color: rgba(82, 95, 122, 0.25); padding: 32px; width: 100%; max-width: 708px; border-radius: 45px;">

        <label for="name">Navn</label>
        <input id="name" type="text" th:field="*{name}" placeholder="Medarbejderens navn"/>

        <label for="email">Email</label>
        <input id="email" type="email" th:field="*{email}" placeholder="Navn@Alphasolutions.com"/>

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}"/>

        <label for="role">Role</label>
        <select id="role" name="role" th:field="*{roleID}">
            <option th:each="role: ${listOfRoles}"
                    th:value="${role.role_id}"
                    th:text="${role.role_name}">
            </option>
        </select>


        <label>Skills</label>
        <div th:each="skill : ${listOfSkills}">
            <input type="checkbox"
                   th:field="*{skillList}"
                   th:value="${skill.skillName}">
            <label th:text="${skill}"></label>
        </div>
        <div style="display: flex; gap: 16px; margin-top: 32px">
            <a th:href="@{/medarbejdere}" style="display: contents">
                <button type="button" class="secondary" style="width: 100%;">
                    Annuller
                </button>
            </a>
            <button type="submit" style="width: 100%;">Opdatér Medarbejder</button>
        </div>
    </form>
    </a>
</div>
</html>