<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content">

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 32px;">
        <h1 style="margin: 0;">Admin</h1>
        <div style="display: flex; gap: 16px">
        </div>
    </div>
    <div>
    <a th:href="@{/medarbejdere}">
        <button> Medarbejdere</button> </a>
    </div>
    <div>
        <a th:href="@{skills}"><button> Skills</button></a>
    </div>
    <div style="display: flex; justify-content: flex-start;">
    <a th:href="@{/projekter}"> <button> Tilbage</button></a>
    </div>
</div>





</html>