<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div style="width: 100%; display: flex; flex-direction: column; gap: 32px; align-items: center;"
     layout:fragment="content">

    <h1 style="align-self: flex-start;">Administrator indstillinger</h1>

    <div style=" background-color: rgba(82, 95, 122, 0.25); padding: 32px; width: 100%; max-width: 708px; border-radius: 45px; display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <a th:href="@{/medarbejdere}">
                <button style="width: 400px; max-width: 100%; margin: 8px;">Rettigheder</button>
            </a>

            <a th:href="@{skills}">
                <button style="width: 400px; max-width: 100%; margin: 8px;">Ressourcer</button>
            </a>

            <a th:href="@{/projekter}">
                <button style="width: 400px; max-width: 100%; margin: 8px;" class="secondary"> Tilbage</button>
            </a>
        </div>
    </div>
</div>
</html>