<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div style="width: 100%; display: flex; flex-direction: column; gap: 32px; align-items: center;"
     layout:fragment="content">

    <h1 style="align-self: flex-start;">Opret Subprojekt</h1>


<form th:action="@{/{projectid}/gemsubprojekt(projectid=${projectid})}" th:method="POST" th:object="${subproject}" style="background-color: rgba(82, 95, 122, 0.25); padding: 32px; width: 100%; max-width: 708px; border-radius: 45px;">
    <p>
        <label for="subprojectName">Navn</label>
        <input id="subprojectName" type="text" th:field="*{subprojectName}" placeholder="Subprojektets navn...">
    </p>
    <p>
        <label for="subprojectDescription">Beskrivelse:</label>
        <input id="subprojectDescription" type="text" th:field="*{subprojectDescription}" placeholder="Beskrivelse af projektet..."/>
    </p>
    <p>
        <label for="subprojectTimeEstimate">Tidsestimat:</label>
        <div style="display: flex; gap: 8px; align-items: baseline;">
        <input id="subprojectTimeEstimate" type="number" th:field="*{subprojectTimeEstimate}" value="1"/><span>time(r)</span>
        </div>
    </p>
    <p>
        <label for="deadline">Deadline:</label>
        <input type="date" th:field="*{subprojectDeadline}"
               th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" id="deadline"/>
    </p>
    <fieldset>
        <legend>Status:</legend>
        <div>
            <input type="radio" id="not-started" checked name="status" th:field="*{subprojectStatus}"
                   th:value="NOT_STARTED">
            <label for="not-started">🔴 Ikke påbegyndt</label>
        </div>
        <div>
            <input type="radio" id="in-progress" name="status" th:field="*{subprojectStatus}"
                   th:value="IN_PROGRESS">
            <label for="in-progress">🟡 Igangværende</label>
        </div>
        <div>
            <input type="radio" id="done" name="status" th:field="*{subprojectStatus}" th:value="DONE">
            <label for="done">🟢 Afsluttet</label>
        </div>
    </fieldset>
    <p>
        <input type="hidden" id="projectid" th:value="${projectid}">
    </p>
    <div style="display: flex; gap: 16px;">
        <a th:href="@{/{projectid}/subprojekter(projectid=${projectid})}">
        <button type="button" class="secondary" style="width: 100%;">
            Annuller
        </button>
        </a>
        <button type="submit" style="width: 100%;">Tilføj Subprojekt</button>
    </div>
</form>
</div>
</html>