<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div style="width: 100%; display: flex; flex-direction: column; gap: 32px; align-items: center;"
     layout:fragment="content">

    <h1 style="align-self: flex-start;">Redigér projekt</h1>

<form th:action="@{/{subprojectid}/updatesubproject(subprojectid=${subprojectid})}" th:method="POST" th:object="${subproject}" style="background-color: rgba(82, 95, 122, 0.25); padding: 32px; width: 100%; max-width: 708px; border-radius: 45px;">
    <p>
        <label for="subprojectName">Navn</label>
        <input id="subprojectName" type="text" th:field="*{subprojectName}">
    </p>
    <p>
        <label for="subprojectDescription">Beskrivelse:</label>
        <input id="subprojectDescription" type="text" th:field="*{subprojectDescription}"/>
    </p>
    <p>
        <label for="subprojectTimeEstimate">Tidsestimat:</label>
        <input id="subprojectTimeEstimate" type="text" th:field="*{subprojectTimeEstimate}"/>
    </p>
    <p>
        <label for="subprojectDedicatedHours">Tidsforbrug:</label>
        <input id="subprojectDedicatedHours" type="text" th:field="*{subprojectDedicatedHours}"/>
    </p>
    <p>
        <label for="subprojectDeadline">Deadline:</label>
        <input id="subprojectDeadline" type="text" th:field="*{subprojectDeadline}"/>
    </p>
    <p>
        <label for="subprojectStatus">Status:</label>
        <input id="subprojectStatus" type="text" th:field="*{subprojectStatus}"/>
    </p>
    <p>
        <input type="hidden" id="projectid" th:field="*{projectID}">
    </p>
    <p>
        <input type="hidden" id="subprojectid" th:field="*{subprojectID}">
    </p>

    <div style="display: flex; gap: 16px;">
        <a th:href="@{/{projectid}/subprojects(projectid=${projectid})}">
        <button type="button" class="secondary" style="width: 100%;">
            Annuller
        </button>
        </a>
    <button type="submit" style="width: 100%;">Tilføj opdateringer</button>
    </div>
</form>
</div>
</html>