<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div style="width: 100%; display: flex; flex-direction: column; gap: 32px; align-items: center;"
     layout:fragment="content">

    <h1 style="align-self: flex-start;">Redigér opgave</h1>

    <form th:action="@{'/' + ${subprojectid} + '/updatetask'}" th:method="POST" th:object="${task}"
          style="background-color: rgba(82, 95, 122, 0.25); padding: 32px; width: 100%; max-width: 708px; border-radius: 45px;">
        <p>
            <label for="taskName">Navn</label>
            <input id="taskName" type="text" th:field="*{taskName}">
        </p>
        <p>
            <label for="taskDescription">Beskrivelse:</label>
            <input id="taskDescription" type="text" th:field="*{taskDescription}"/>
        </p>
        <p>
            <label for="taskEstimate">Tidsestimat:</label>
            <input id="taskEstimate" type="text" th:field="*{taskEstimate}"/>
        </p>
        <p>
            <label for="deadline">Deadline:</label>
        <div style="display: flex; gap: 8px;">
            <input type="date" th:field="*{taskDeadline}"
                   th:value="${task.taskDeadline}" id="deadline"/>
        </div>
        </p>
        <p>
        <fieldset>
            <legend>Status:</legend>
            <div>
                <input type="radio" id="not-started" name="status" th:field="*{taskStatus}"
                       th:value="NOT_STARTED">
                <label for="not-started">🔴 Ikke påbegyndt</label>
            </div>
            <div>
                <input type="radio" id="in-progress" name="status" th:field="*{taskStatus}"
                       th:value="IN_PROGRESS">
                <label for="in-progress">🟡 Igangværende</label>
            </div>
            <div>
                <input type="radio" id="done" name="status" th:field="*{taskStatus}" th:value="DONE">
                <label for="done">🟢 Afsluttet</label>
            </div>
        </fieldset>
        </p>
        <p>
            <!-- Hidden fields for subprojectID and taskID -->
            <input type="hidden" id="subprojectid" th:field="*{subprojectID}">
            <input type="hidden" id="taskid" th:field="*{taskID}">
        </p>

        <!-- Display assigned employees with skills as checkboxes -->
        <fieldset>
            <legend>Medarbejdere:</legend>
            <div th:each="employee : ${task.assignedEmployeesWithSkills}">
                <input type="checkbox" th:id="'emp_' + ${employee.empID}" th:name="'assignedEmployees'"
                       th:value="${employee.empID}">
                <label th:for="'emp_' + ${employee.empID}" th:text="${employee.empName}"></label>
            </div>
        </fieldset>

        <div style="display: flex; gap: 16px;">
            <a th:href="@{/{subprojectid}/tasks(subprojectid=${subprojectid})}" style="display: contents">
                <button type="button" class="secondary" style="width: 100%;">
                    Annuller
                </button>
            </a>
            <button type="submit" style="width: 100%;">Tilføj opdateringer</button>
        </div>
    </form>
</div>
</html>
