<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div style="width: 100%; display: flex; flex-direction: column; gap: 32px; align-items: center;"
     layout:fragment="content">
    <head>
        <title>Ret Opgave</title>
    </head>
    <body>
     <form th:action="@{/{subprojectid}/updatetask(subprojectid=${subprojectid})}" th:method="POST" th:object="${task}">
        <p>
            <input type="hidden" id="subprojectid" th:field="*{subprojectID}">
        </p>
        <p>
            <input type="hidden" id="taskid" th:field="*{taskID}">
        </p>
        <p>
            <label for="taskName">Navn</label>
            <input id="taskName" type="text" th:field="*{taskName}">
        </p>
        <p>
            <label for="taskDescription">Beskrivelse:</label>
            <input id="taskDescription" type="text" th:field="*{taskDescription}"/>
        </p>
        <p>
            <label for="taskEstimate">Tidsestimat:</label>
            <input id="taskEstimate" type="text" th:field="*{taskEstimate}"/>
        </p>

        <p>
            <label for="taskDeadline">Deadline:</label>
            <input id="taskDeadline" type="text" th:field="*{taskDeadline}"/>
        </p>
        <p>
            <label for="taskStatus">Status:</label>
            <input id="taskStatus" type="text" th:field="*{taskStatus}"/>
        </p>
        <button type="submit">Tilføj opdateringer</button>
    </form>
     <p>
         <button type="button" onclick="goBack()">Tilbage</button>

         <script>
             function goBack() {
                 window.history.back();
             }
         </script>

     </p>
    </body>
</div>
</html>