<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Tilføj opgave: </title>
</head>
<body>
<form th:action="@{/{subprojectid}/savetask(subprojectid=${subprojectid})}" th:method="POST" th:object="${task}">
    <p>
        <label for="taskName">Navn</label>
        <input id="taskName" type="text" th:field="*{taskName}">
    </p>
    <p>
        <label for="taskDescription">Beskrivelse:</label>
        <input id="taskDescription" type="text" th:field="*{taskDescription}"/>
    </p>
    <p>
        <label for="taskTimeEstimate">Tidsestimat:</label>
        <input id="taskTimeEstimate" type="text" th:field="*{taskEstimate}"/>
    </p>

    <p>
        <label for="taskDeadline">Deadline:</label>
        <input id="taskDeadline" type="text" th:field="*{taskDeadline}"/>
    </p>
    <p>
        <label for="taskStatus">Status:</label>
        <input id="taskStatus" type="text" th:field="*{taskStatus}"/>
    </p>

    <p>
        <input type="hidden" id="subprojectid" th:field="*{subprojectID}">
    </p>
    <button type="submit">Tilføj Opgave</button>
</form>
<p>
    <a th:href="@{/{subprojectid}/tasks(subprojectid=${subprojectid})}"> <button type="button">Tilbage</button> </a>
</p>
</body>
</html>