<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Projekter</title>
</head>
<body>
<h1>Projektoversigt</h1>
<table>
    <thead>
    <tr>
        <th>Projekter: </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td>
            <a th:href="@{/{projectname}/subprojects(projectname=${project.getName()})}">
                <button type="button"><span th th:text="${project.name}"></span>></button>
            </a>
        </td>

    </tr>

    </tbody>


</table>
</body>
</html>