<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content">

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 32px;">
        <h1 style="margin: 0;">Projektoversigt</h1>
        <div style="display: flex; gap: 16px">
            <a th:href="@{/opretprojekt}">
                <button style="margin: 0;" type="submit"> Opret projekt</button>
            </a>
        </div>
    </div>


    <div class="overflow-auto">
        <table>
            <thead>
            <tr>
                <th>Projekt:</th>
                <th>Projektleder</th>
                <th data-tooltip="Totalt antal solgte timer" data-placement="bottom">Tidsestimat</th>
                <th data-tooltip="Afsatte timer til opgaver, kontra timer til rådighed" data-placement="bottom">Afsat /
                    Tilbage
                </th>
                <th>Deadline</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td>
                    <a th:href="@{/{projectID}/subprojekter(projectID=${project.getProjectID()})}">
                        <button type="submit" style="width: 100%"><span th:text="${project.getProjectName()}"></span>
                        </button>
                    </a>
                </td>
                <td th:text="${project.getProjectManagerName()}"></td>
                <td>
                    <span th:text="${project.getProjectTimeEstimate()}"></span>
                    <span> t</span>
                </td>
                <td>
                    <span th:text="${project.getProjectDedicatedHours()}"></span>
                    <span>t / </span>
                    <span th:text="${project.getProjectTimeEstimate() - project.getProjectDedicatedHours()}"></span>
                    <span> t</span>
                </td>
                <td th:text="${project.getProjectDeadline()}"></td>
                <td th:switch="${project.getProjectStatus().toUpperCase()}" style="text-align: center">
                    <span th:case="NOT_STARTED" data-tooltip="Ikke påbegyndt" style="border: none;">🔴</span>
                    <span th:case="IN_PROGRESS" data-tooltip="Igangværende" style="border: none;">🟡</span>
                    <span th:case="DONE" data-tooltip="Afsluttet" style="border: none;">🟢</span>
                    <span th:case="ARCHIVED" data-tooltip="Arkiveret" style="border: none;">⚪️</span>
                    <span th:case="*" th:text="${project.getProjectStatus()}"></span>
                </td>
                <td>
                    <a th:href="@{/{projectID}/redigerprojekt(projectID=${project.getProjectID()})}">
                        <button type="button" data-tooltip="Redigér">✏️</button>
                    </a>
                    <a th:href="@{/{projectID}/sharedvision(projectID=${project.getProjectID()})}">
                        <button type="button" data-tooltip="Shared vision">🔭</button>
                    </a>
                </td>
                <td th:text="${project.getProjectID()}" hidden></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="display: flex; justify-content: center;">
        <button type="button" onclick="window.location.href='/arkiveredeprojekter'">
            Arkiverede projekter
        </button>
    </div>
</div>
</html>