<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content">

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 32px;">
        <h1 style="margin: 0;">Skills</h1>
        <div style="display: flex; gap: 16px">
        </div>
    </div>
    <div class="overflow-auto">
        <table>
            <thead>
            <tr>
                <th>Navn</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="skill : ${skillList}">

                <td th:text="${skill.skillName}"></td>

            </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{tilføjskill}">
                <button> Tilføj Skill</button>
            </a>
        </div>
        <div>
            <a th:href="@{admin}">
                <button> Tilbage</button>
            </a>
        </div>
    </div>

</div>
</html>