<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Subprojekter</title>
</head>
<body>
<h1> Subprojekter:</h1>
<table>
    <thead>
    <tr>
        <th> Navn</th>
        <th> Beskrivelse</th>
        <th> Tids estimat</th>
        <th> Time forbrug</th>
        <th> Deadline</th>
        <th> Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subproject : ${subprojects}">
        <td th:text="${subproject.name}"></td>
        <td th:text="${subproject.description}"></td>
        <td th:text="${subproject.timeEstimate}"></td>
        <td th:text="${subproject.dedicatedHours}"></td>
        <td th:text="${subproject.deadline}"></td>
        <td th:text="${subproject.status}"></td>
        <td></td>
    </tr>
    </tbody>

</table>

</body>
</html>