<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content">

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 32px;">
        <h1 style="margin: 0;" th:text="${projectName} + ' - ' + ${subprojectName} + ' - Opgaver'">Opgaveoversigt</h1>
        <a th:href="@{/{subprojectid}/addtask(subprojectid=${subprojectid})}">
            <button style="margin: 0;" type="submit">Opret opgave</button>
        </a>
    </div>

    <div class="overflow-auto">
        <table>
            <thead>
            <tr>
                <th>Opgave</th>
                <th>Beskrivelse</th>
                <th data-tooltip="Antal timer opgaven kræver at udføre" data-placement="bottom">Tidsestimat</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Medarbejdere</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${listOfTasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskDescription}"></td>
                <td th:text="${task.taskEstimate} + ' t'"></td>
                <td th:text="${task.taskDeadline}"></td>
                <td th:switch="${task.getTaskStatus()}" style="text-align: center">
                    <span th:case="NOT_STARTED" data-tooltip="Ikke påbegyndt" style="border: none;">🔴</span>
                    <span th:case="IN_PROGRESS" data-tooltip="Igangværende" style="border: none;">🟡</span>
                    <span th:case="DONE" data-tooltip="Afsluttet" style="border: none;">🟢</span>
                    <span th:case="*" th:text="${task.getTaskStatus()}"></span>
                </td>
                <td>
                    <ul>
                        <li th:each="employeeName : ${employeesForTasks[task.taskID]}">
                            <span th:text="${employeeName.empName}"></span>:
                        </li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{'/' + ${task.taskID} + '/edittask'}">
                        <button type="button" data-tooltip="Redigér">✏️</button>
                    </a>
                    <a th:href="@{'/' + ${task.taskID} + '/deletetask'}">
                        <button type="button" data-tooltip="Slet">🗑</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div style="display: flex; justify-content: center">
            <a th:href="@{/{projectID}/subprojekter(projectID=${projectID})}">
                <button type="button"><div th:text=" 'Tilbage til ' +  ${subprojectName}"></div>
                </button>
            </a>
        </div>
    </div>
</div>
</html>
