<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div style="width: 100%; display: flex; flex-direction: column; gap: 32px; align-items: center;"
     layout:fragment="content">
    <head>
        <title>Opgaver</title>
    </head>

    <body>
    <h1> Opgaver</h1>
    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Tidsestimat(t)</th>
            <th>Deadline</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${listOfTasks}">
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.taskDescription}"></td>
            <td th:text="${task.taskEstimate}"></td>
            <td th:text="${task.taskDeadline}"></td>
            <td th:switch="${task.getTaskStatus().toUpperCase()}" style="text-align: center">
                <span th:case="NOT_STARTED" data-tooltip="Ikke påbegyndt" style="border: none;">🔴</span>
                <span th:case="IN_PROGRESS" data-tooltip="Igangværende" style="border: none;">🟡</span>
                <span th:case="DONE" data-tooltip="Afsluttet" style="border: none;">🟢</span>
                <span th:case="*" th:text="${task.getTaskStatus()}"></span>
            </td>
            <td>
                <a th:href="@{'/' + ${task.getTaskID()} + '/edittask'}">
                    <button type="submit">✏️</button>
                </a>
                <a th:href="@{'/' + ${task.getTaskID()} + '/deletetask'}">
                    <button type="submit">🗑</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
    <a th:href="@{/{subprojectid}/addtask(subprojectid=${subprojectid})}">
        <button type="submit"> Tilføj Opgave</button>
    </a>


    </body>
    <div style="display: flex; justify-content: flex-end;">
        <button type="button" onclick="window.location.href='/projekter'">
            Tilbage til projekter
        </button>
    </div>
</div>
</html>