<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div style="width: 100%; display: flex; flex-direction: column; gap: 32px; align-items: center;"
     layout:fragment="content">
    <head>
        <title>Skills</title>
    </head>
    <body>
    <h1> Skills</h1>
    <table>
        <thead>
        <tr>
            <th> ID</th>
            <th> Navn</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="skill : ${listOfSkills}">

            <td th:text="${skill.skillID}"></td>
            <td th:text="${skill.skillName}"></td>

        </tr>
        </tbody>

    </table>

    </body>
</div>
</html>